* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 13vh;
  background: linear-gradient(95.16deg, #184d6a 0%, #0d344a 100%);
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

#navbar #nav-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 34px;
}

@media screen and (max-width: 576px) {
  #navbar #nav-title {
    font-size: 22px;
  }
}

#navbar #icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

@media screen and (max-width: 1024px) {
  #navbar #icon-wrapper {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  #navbar #icon-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  #navbar #icon-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 576px) {
  #navbar #icon-wrapper .user-icon {
    width: 12%;
  }
}

#navbar #nav-items {
  width: 40%;
}

#navbar #nav-items a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#navbar #nav-items a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar #nav-items a:hover {
  text-shadow: 0 0 0.5px #ffffff, 0 0 0.5px #ffffff;
}

#navbar #nav-items a:hover:after {
  width: 100%;
}

#navbar #nav-items ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  font-size: 1.12rem;
}

@media screen and (max-width: 1200px) {
  #navbar #nav-items {
    display: none;
  }
}

#navbar #mobile-menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #ffffff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar #mobile-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 30%;
}

#navbar #mobile-menu a {
  color: #0f364c;
  text-decoration: none;
  font-size: 2.5rem;
}

#navbar #mobile-menu .close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

#hamburger {
  margin: 0 5%;
  cursor: pointer;
  stroke: #ffffff;
}

#hamburger:hover {
  stroke: #e5e5e5;
}

@media screen and (min-width: 1200px) {
  #hamburger {
    display: none;
  }
}

#card-row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  #card-row {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#card-row .user-wrapper {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  #card-row .user-wrapper {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  #card-row .user-wrapper {
    width: 100%;
  }
}

#card-row .user-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  #card-row .user-card {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  #card-row .user-card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  #card-row .user-card {
    width: 100%;
  }
}

#card-row .user-card .user-image {
  width: 25%;
  border-radius: 50%;
  margin-right: 20px;
}

#card-row .user-card .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

#card-row .user-card .user-info .user-name {
  color: #0f364c;
  margin: 0;
}

#card-row .user-card .user-info .user-email {
  margin-bottom: 0;
}

#card-row .user-email,
#card-row .user-phone,
#card-row .user-location {
  font-size: 14px;
  color: #4c4c4c;
}

#card-row .user-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer {
  background: #efeff2;
  width: 100%;
  height: 10vh;
}
/*# sourceMappingURL=style.css.map */