// Font variables
$default-font: 'proxima-nova', sans-serif;
$default-font-size: 16px;
$bold: 700;

// Color variables
$white: #ffffff;
$off-white: #e5e5e5;
$dark-blue: #0f364c;

* {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  font-size: $default-font-size;
  margin: 0;
  padding: 0;
  background: $off-white;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13vh;
  background: linear-gradient(95.16deg, #184d6a 0%, #0d344a 100%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  #nav-title {
    color: $white;
    font-weight: 900;
    font-size: 34px;
    @media screen and (max-width: 576px) {
      font-size: 22px;
    }
  }
  #icon-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    @media screen and (max-width: 1200px) {
      width: 40%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 576px) {
      width: 85%;
    }
    .user-icon {
      @media screen and (max-width: 576px) {
        width: 12%;
      }
    }
  }
  #nav-items {
    width: 40%;
    a {
      color: $white;
      text-decoration: none;
      transition: 0.3s;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $white;
        transition: 0.3s;
      }
      &:hover {
        text-shadow: 0 0 0.52px $white, 0 0 0.52px $white;
        &:after {
          width: 100%;
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      font-size: 1.12rem;
    }
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  #mobile-menu {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: $white;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .close-btn-styles {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      height: 30%;
    }
    a {
      color: #0f364c;
      text-decoration: none;
      font-size: 2.5rem;
    }
  }
}

#hamburger {
  margin: 0 5%;
  cursor: pointer;
  stroke: $white;
  &:hover {
    stroke: $off-white;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

#card-row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    width: 100%;
    justify-content: space-around;
  }
  .user-wrapper {
    width: 32%;
    display: flex;
    justify-content: center;
    height: 200px;
    @media screen and (max-width: 1024px) {
      width: 40%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .user-card {
    width: 100%;
    display: flex;
    margin: 20px auto;
    padding: 0 15px;
    align-items: center;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    &:hover {
      transform: scale(1.1);
      transition: ease-in-out 400ms;
    }
    @media screen and (max-width: 768px) {
      width: 75%;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    .user-image {
      width: 25%;
      border-radius: 50%;
      margin-right: 20px;
    }
    .user-info {
      display: flex;
      flex-direction: column;
      width: 75%;
      .user-name {
        color: #0f364c;
        margin: 0;
      }
      .user-email {
        margin-bottom: 0;
      }
    }
  }

  .user-email,
  .user-phone,
  .user-location {
    font-size: 14px;
    color: #4c4c4c;
  }

  .user-info-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
#footer {
  background: #efeff2;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 576px) {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }
  .footer-nav {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    font-size: 1.12rem;
    @media screen and (max-width: 1200px) {
      width: 60%;
    }
    @media screen and (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: $dark-blue;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $dark-blue;
        transition: 0.3s;
      }
      &:hover {
        text-shadow: 0 0 0.5px $dark-blue, 0 0 0.5px $dark-blue;
        &:after {
          width: 100%;
        }
      }
    }
  }
}
